body {
  padding-top: 70px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  width: 100%;
  color: #332;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16px;
  min-height: 2000px;
}
.container .text-muted {
  margin: 20px 0;
}
