$colorPrime = #333322
$alpha = 0.8
$amount = 0.85
$fontSize = 16px
$width = 320px
$widthInner = 310px
$fbColor = #3b5998
$red = #B1103C

body
  padding-top: 70px
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif
  width: 100%
  color: $colorPrime
  font-style: normal
  font-variant: normal
  font-weight: normal
  font-size: $fontSize
  min-height: 2000px

.container .text-muted
  margin: 20px 0