$bgColor = lightgray
$colorPrime = #333322
$alpha = 0.8
$amount = 0.85
$fontSize = 16px
$width = 320px
$widthInner = 310px
$fbColor = #3b5998
$red = #B1103C

body
  padding 0
  margin 0
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif
  width: 100%
  background: $bgColor
  color: $colorPrime
  font-style: normal
  font-variant: normal
  font-weight: normal
  font-size: $fontSize
  overflow: hidden

#content
  width: 640px
  margin: 0 auto
  background: #EEEEEE
  padding: 57px 60px 0 60px
  @media screen and (max-width: 640px)
    width: $width
    padding: 57px 0 0 0

img 
  margin: 0

p 
  margin: 0

a 
  text-decoration: none
  cursor: auto
  color: $fbColor
  font-family: Helvetica, Arial
  font-weight: bold
  &:hover 
    text-decoration: none
    color: #8b9dc3
  
h1 
  display: inline-block
  vertical-align: middle
  text-align: center
  box-sizing: border-box
  font-size: 17px
  font-weight: normal
  color: black
  margin: 0
  padding: 0
  width: 100%
  height: 33px
  line-height: 33px

section 
  margin: 0
  padding: 0

.boxShadow 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5)

header
  width: 100%
  margin: 0 auto
  z-index: 1

.settings-item
  input[type="range"]
    width: $widthInner*0.7
  h4.distance
    margin: 0
    padding-top: 15px

.card
  width: $widthInner
  height: $widthInner
  background-color: rgba(255,255,255,0.8)
  border: 1px solid gray
  border-radius: 2px
  padding: 5px 0
  img
    height: 100px
    width: 100px
    margin: 0 5px 5px 6px
    border-radius: 3px
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5)
  .profile
    height: 100px
    width: 190px
    h5
      margin: 0
    div.topline
      max-width: 190px
      height: 50px
      overflow: hidden
      span
        height: 50px
        line-height: 50px
    p.bio
      font-size: 12px
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      max-width: 190px
      overflow: hidden
      text-overflow: ellipsis
      height:35px /* fallback */

  li.disabled
    opacity: 0.5

.menu
  span
    text-align: center
    width: 100%

.menu
  width: 60px
  height: 60px
  padding: 10px 0

#menuRight
  float: right

#menuLeft
  float: left

#menuLeft
  form
    display: none

#header 
  margin: 10px 0 10px 0
  width: 200px

header.settings
  #header
    display: none

header.settings
  #menuLeft
    float: right
    width: 260px
    & span
      width: 60px
      float: right
    
    & form
      display: block
      float: right
      padding: 0 0 10px 15px
      & input
        width: 185px
        z-index: 10            


span.glyphicon-th 
  font-size: 2em

span.glyphicon-cog 
  font-size: 2.4em

span.glyphicon-search 
  font-size: 2em


// $shrink = shrink
// $enlarge = enlarge

// @keyframes shrink
//   from
//     width: 310px
//     height: 310px
  
//   to
//     width: 96.66667px
//     height: 96.66667px
  

// @keyframes enlarge
//   from
//     width: 96.66667px
//     height: 96.66667px
  
//   to
//     width: 310px
//     height: 310px
  


ul,
li 
  list-style: none
  padding: 0

ul#matches 
  width: $width - 8
  position: relative
  z-index: 10
  margin-left: 3px

ul#matches
  li
    animation-name: $enlarge
    animation-duration: 1s
    animation-iteration-count: 1
    animation-timing-function: ease-out
    -webkit-animation-name: $enlarge
    -webkit-animation-duration: 1s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-out   
    display: inline-block
    float: left
    width: $widthInner
    height: $widthInner
    border-radius: 2px
    overflow: hidden
    background-color: white
    margin-bottom: 10px

.sidebyside
  button 
    margin: 0 35px
    border-radius: 60px
    height: 60px
    width: 60px
    padding: 0
    span, i
      display: inline-block
      line-height: 60px
      vertical-align: middle


.pure-button-secondary 
  background-color: rgb(223, 117, 20)
  color: #fff

.passBtn
  font-size: 16px
  span
    margin-top: -3px

.likeBtn
  background: white
  i
    margin-top: 2px
    color: $red

.clearfix:after 
  content: "."
  visibility: hidden
  display: block
  height: 0
  clear: both


.center-wrap 
  text-align: center


.center-wrap:after 
  content: ''
  box-sizing: content-box
  visibility: hidden
  display: inline-block
  height: 0
  vertical-align: middle


.center 
  display: inline-block
  vertical-align: middle


p.center,
a.center 
  text-align: center

.left
  float: left
  vertical-align: bottom

.right
  float: right
  vertical-align: bottom

.list 
  margin-bottom: 1px
  background-color: white
  font-size: 30px
  color: grey


.list2 
  margin-bottom: 1px
  background-color: white
  color: grey


.titlehead
  position: fixed
  font-size: 18px
  color: white
  height: 48px
  background-color: $red
  line-height: 48px
  vertical-align: middle
  z-index: 9

.addbutton 
  margin-right: 10px
  font-size: 15px
  color: $red

.container
  margin: 4px
  width: 300px
  height: 40px
  text-align: center
  font-size: 13px

  img
    border-radius: 40px

  .team1
    float: left
  .team2
    float: right

.button-room
  background: white
  border-style: solid
  border-width: 1px
  border-color: gray
  border-radius: 5px
  padding: 10px 5px

.pure-u-1
  background: white
  border-style: solid
  border-width: 1px
  border-color: gray
  border-radius: 5px
  padding: 5px

.pure-g
  img
    border-radius: 50px

#nav
  background: $red
  //border: 1px solid darkgray
  width: 100%
  ul
    margin: 0 auto
    padding: 8px 0
    width: 640px
    @media screen and (max-width: 640px)
      width: 320px
    li
      width: 106px
      text-align: center
      a
        color: white
        font-weight: normal
        font-size: 13px

#layout,
#menu,
.menu-link
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out

/*
This is the parent `<div>` that contains the menu and the content area.
*/
$sideMenu = 200px

#layout
  position: relative
  padding-left: 0

#layout.active
  position: relative
  left: $sideMenu

#layout.active #menu
  left: $sideMenu
  width: $sideMenu

#layout.active .menu-link
  left: $sideMenu

#menu
  margin-left: -1*$sideMenu
  width: $sideMenu
  position: fixed
  top: 0
  left: 0
  bottom: 0
  z-index: 1000
  background: #191818
  overflow-y: auto
  -webkit-overflow-scrolling: touch

#menu a
  color: $red
  border: none
  padding: 0.6em 0 0.6em 0.6em
  i
    width: 30px
    text-align: center
    font-size: 1.2em
    color: white
    padding-right: 0.6em

#menu .pure-menu,
#menu .pure-menu ul
  border: none
  background: transparent

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided
  border-top: 1px solid #333

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus
  background: #333

#menu .pure-menu li.clicked a,
#menu .pure-menu li.clicked a:hover,
#menu .pure-menu li.clicked a:focus
  background: $red
  color: white

#menu .pure-menu-selected,
#menu .pure-menu-heading
  background: $red

#menu .pure-menu-selected a
  color: #fff

#menu .pure-menu-heading
  font-size: 110%
  color: #fff
  margin: 0

.menu-link, .chat-link
  position: fixed
  display: block
  top: 0
  left: 0 
  background: #000
  background: $red
  font-size: 10px
  z-index: 10
  width: 2em
  height: 2em
  padding: 1.4em 1.6em
  i
    color: white  
.chat-link
  left: $width - 52

.menu-link:hover,
.menu-link:focus,
.chat-link:hover,
.chat-link:focus
  background: #000
  
@media (min-width: 48em)
  
  #layout
    padding-left: $sideMenu /* left col width "#menu" */
    left: 0
  
  #menu
    left: $sideMenu
  
  .menu-link
    position: fixed
    left: $sideMenu
    display: none
  .chat-link
    position: fixed
    left: $sideMenu
    display: none
  
  #layout.active .menu-link
    left: $sideMenu

.lp
  margin: 10px 0 20px 0
  width: 320px
  height: 100px
  background-image: url('../images/girls.jpg')
  background-size: 100%, 100%

.lp-image
  margin: 20px 0 20px 4px
  width: 310px
  height: 100px
  background-image: url('../images/gokon.png')
  background-size: 100%, 100%

#loginUrl
  background: $fbColor
  color: white
  height: 50px
  a, span
    color: white
    line-height: 50px
    vertical-align: middle
.list2
  background: none
input#name 
  width: 296px
